table ip nat {
        chain postrouting {
                type nat hook postrouting priority srcnat; policy accept;
                oif "{{ ansible_facts.default_ipv4.interface }}" ipsec out ip saddr 10.10.10.0/24 accept
                ip saddr 10.10.10.0/24 oif "{{ ansible_facts.default_ipv4.interface }}" masquerade
        }
}
table ip mangle {
        chain forward {
                type filter hook forward priority mangle; policy accept;
                oif "{{ ansible_facts.default_ipv4.interface }}" ipsec in ip saddr 10.10.10.0/24 tcp flags & (syn|rst) == syn tcp option maxseg size 1361-1536 tcp option maxseg size set 1360
        }
}
table ip filter {
        chain forward {
                type filter hook forward priority filter; policy accept;
                ip protocol esp ip saddr 10.10.10.0/24 counter packets 0 bytes 0 accept
                ip protocol esp ip saddr 10.10.10.0/24 counter packets 0 bytes 0 accept
                ip protocol esp ip daddr 10.10.10.0/24 counter packets 0 bytes 0 accept
        }
        chain input {
                type filter hook input priority 0; policy drop;
                ct state established,related accept
                tcp dport {22, 53, 9090} accept comment "deny all external tcp traffic except SSH, DNS and Prometheus ports"
                udp dport {53, 500, 4500} accept comment "deny all external udp traffic except DNS and IPSec ports"
        }
        chain output {
                type filter hook output priority 0; policy accept;
                ct state established accept
        }
}